<mat-card class="book-card">
    <mat-card-header>
        <mat-card-title>{{ book.name }}</mat-card-title>
        <mat-card-subtitle>{{ book.isbn }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div>Authors: {{ book.authors }}</div>
        <div>Number of pages: {{ book.numberOfPages }}</div>
        <div>Publisher: {{ book.publisher }}</div>
        <div>Country: {{ book.country }}</div>
        <div>Media type: {{ book.mediaType }}</div>
        <div>Release date: {{ book.released }}</div>
        <div>URL: {{ book.url }}</div>
    </mat-card-content>
</mat-card>