thead {
    color: #337AB7;
    background-color: hsl(205, 87%, 94%);
    padding: 0.7rem;
  }

td {
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0.7rem;    
}

div.overflow-scroll{
  max-height: 150px;
  overflow: scroll;

}

