<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="body">
  <div class="container-fluid">
    <div class="card">
      <nav class="navbar navbar-light" style="background-color: hsl(0, 0%, 93%);">
        <ul class='nav nav-pills'>
          <li>
            <a class="navbar-brand" routerLinkActive='active' routerLink='/home'>{{PageTitle}}</a>
          </li>
          <li>
            <a class='nav-link' routerLinkActive='active' routerLink='/books'>Books</a>
          </li>
        </ul>
      </nav>
  </div>
</div>
</div>

  <!--
<div class="container-fluid">
        <app-book-list></app-book-list>
</div>
  -->
  

  


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
