<div class='row'>
    <div class="container-fluid mt-3 ml-3 mr-3 mb-3">
      <div class='card'>
        <div class='card-body'>
          <h4 class='card-title'>Game of thrones characters</h4>
          <p class= 'card-text'>Here is the character list of the entire Game of Thrones saga. Find below the main metadata concerning the characters. The characters can be filtered by name, gender, aliases and culture.</p>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class="container-fluid ml-3 mr-3 mb-1">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default" type ='text'>Filter by</span>
          </div>
          <input [(ngModel)]='listFilter' type="text" class="col-md-4" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="type text here ...">
        </div>
      </div>
  </div>
  <div class='row'>
    <div class="container-fluid ml-3 mr-3 mb-3">
    <div class = 'card'>
      <div class = 'card-body'>
        <table class='table-responsive table-hover' *ngIf='filteredCharacters.length'>
          <thead>
            <tr>
              <th>
                <button class="btn btn-primary btn-md" (click) = 'toggleImage()'>{{showImage ? 'Hide' : 'Image'}}</button>
              </th>
              <th>Name</th>
              <th>Aliases</th>
              <th>Titles</th>
              <th>Gender</th>
              <th>Culture</th>
              <th>Birth</th>
              <th>Death</th>
              <th>Father</th>
              <th>Mother</th>
              <th>Spouse</th>
              <th>Allegiances</th>
              <th>Books</th>
              <th>POV Books</th>
              <th>TV Series</th>
              <th>Played by</th>
              <th>URL</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let character of filteredCharacters'>
              <td>
                <img *ngIf='showImage'
                  [src]='getImagePath(character.name)'
                  [title]='getImagePath(character.name)'
                  [style.width.px]='imageWidth'
                  [style.margin.px]='imageMargin'>
              </td>
              <td>{{ character.name != "" ? character.name : "NaN" }}</td>
              <td>
                <div [ngClass] ="character.aliases.length > 10 ? 'overflow-scroll' : 'overflow'"> 
                  <tr *ngFor = "let alias of character.aliases">
                    {{alias != "" ? alias : "NaN" }}
                  </tr>
                </div>
              </td>
              <td>
              <div [ngClass] ="character.titles.length > 10 ? 'overflow-scroll' : 'overflow'"> 
                  <tr *ngFor = "let title of character.titles">
                    {{title != "" ? title : "NaN" }}
                  </tr>
              </div>
              </td>
              <td>{{ character.gender != "" ? character.gender : "NaN" }}</td>
              <td>{{ character.culture != "" ? character.culture : "NaN" }}</td>
              <td>{{ character.born != "" ? character.born : "NaN" }}</td>
              <td>{{ character.died != "" ? character.died : "NaN" }}</td>
              <td>{{ character.father != "" ? character.father : "NaN" }}</td>
              <td>{{ character.mother != "" ? character.mother : "NaN" }}</td>
              <td>{{ character.spouse != "" ? character.spouse : "NaN" }}</td>
              <td>
                <div [ngClass] ="character.allegiances.length > 10 ? 'overflow-scroll' : 'overflow'"> 
                    <tr *ngFor = "let allegiance of character.allegiances">
                      {{allegiance !="" ? allegiance : "NaN" }}
                    </tr>
                </div>
              </td>
              <td>
                <div [ngClass] ="character.books.length > 10 ? 'overflow-scroll' : 'overflow'"> 
                    <tr *ngFor = "let book of character.books">
                      {{book != "" ? book : "NaN" }}
                    </tr>
                </div>
              </td>
              <td>
                <div [ngClass] ="character.povBooks.length > 10 ? 'overflow-scroll' : 'overflow'"> 
                    <tr *ngFor = "let povbook of character.povBooks">
                      {{povbook != "" ? povbook : "NaN" }}
                    </tr>
                </div>
              </td>
              <td>
                <div [ngClass] ="character.tvSeries.length > 10 ? 'overflow-scroll' : 'overflow'">
                  <tr *ngFor = "let tvSerie of character.tvSeries">
                    {{tvSerie != "" ? tvSerie : "NaN" }}
                  </tr>
                </div>
              </td>
              <td>
                <div [ngClass] ="character.playedBy.length > 10 ? 'overflow-scroll' : 'overflow'">
                  <tr *ngFor = "let by of character.playedBy">
                    {{by != "" ? by : "NaN" }}
                  </tr>
                </div>
              </td>
              <td>{{ character.url != "" ? character.url : "NaN" }}</td> 
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

  
  
  
  
  
  
  