<div class='row'>
    <div class="container-fluid mt-3 ml-3 mr-3 mb-3">
      <div class='card'>
        <div class='card-body'>
          <h4 class='card-title'>Game of thrones characters</h4>
          <p class= 'card-text'>Here is the character list of the entire Game of Thrones saga. Find below the main metadata concerning the characters. The characters can be filtered by name, gender, aliases and culture.</p>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class="container-fluid ml-3 mr-3 mb-1">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default" type ='text'>Filter by</span>
          </div>
          <input [(ngModel)]='listFilter' type="text" class="col-md-4" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="type text here ...">
        </div>
      </div>
    </div>
    <mat-grid-list cols="4" min-rowHeight="2:1" >
      <div *ngIf="pageEvent">
      <mat-grid-tile 
      *ngFor='let character of filteredCharacters'>
              <app-character [character] = "character"></app-character>
      </mat-grid-tile>
    </div>
    </mat-grid-list>
  <div class= "container col-md-12">
    <mat-paginator [length] = "400"
    [pageSize] = "10"
    [pageSizeOptions] = "[5, 10, 25, 50]"
    (page) = "onChangePage($event)">
  </mat-paginator>
  <div *ngIf="pageEvent">
    <h5>Page Change Event Properties</h5>
    <div>List length: {{pageEvent.length}}</div>
    <div>Page size: {{pageEvent.pageSize}}</div>
    <div>Page index: {{pageEvent.pageIndex}}</div>
  </div>
 


  
  
  
  
  
  
  