<div class='row'>
    <div class="container-fluid mt-3 ml-3 mr-3 mb-3">
      <div class='card'>
        <div class='card-body'>
          <h4 class='card-title'>Game of thrones characters</h4>
          <p class= 'card-text'>Here is the character list of the entire Game of Thrones saga. Find below the main metadata concerning the characters. The characters can be filtered by name, gender, aliases and culture.</p>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class="container-fluid ml-3 mr-3 mb-1">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default" type ='text'>Filter by</span>
          </div>
          <input [(ngModel)]='listFilter' type="text" class="col-md-4" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="type text here ...">
        </div>
      </div>
    </div>
    <mat-grid-list cols="4" min-rowHeight="2:1" >
      <mat-grid-tile 
      *ngFor='let character of filteredCharacters'>
              <app-character [character] = "character"></app-character>
      </mat-grid-tile>
    </mat-grid-list>
  <div class= "container col-md-12">
    <nav aria-label="Page navigation example">
      <ul class="pagination pg-teal justify-content-center">
        <li class="page-item disabled">
          <span class="page-link">Previous</span>
        </li>
        <li class="page-item"><a class="page-link" mdbWavesEffect>1</a></li>
        <li class="page-item active">
          <span class="page-link" mdbWavesEffect>
            2
            <span class="sr-only">(current)</span>
          </span>
        </li>
        <li class="page-item"><a class="page-link" mdbWavesEffect>3</a></li>
        <li class="page-item">
          <a class="page-link" mdbWavesEffect>Next</a>
        </li>
      </ul>
    </nav>
</div> 


  
  
  
  
  
  
  